body {
    background-color: #e1f4f3;
    background-image: url("static/images/jet-7646082_1280.jpg");
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }